
<div id="wrapper">
    <app-header></app-header>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <app-navbar></app-navbar>
            <div class="container-fluid">
                <h1 class="h3 mb-2 text-gray-800">Total Registered University</h1>
                <p class="mb-4"></p>
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <a routerLink="/report" class="d-sm-inline-block btn btn-sm btn-primary shadow-sm  align-items-right">Add University</a>
                        <!-- <h1 class="h3 mb-2 text-gray-800">Total Registered Zhelb Loan Officer</h1> -->
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>SN</th>
                                        <th>UNIVERSITY NAME</th>
                                        <th>LOCATION</th>
                                        <th>DESCRIPTION</th>
                                        <th>LIST OF COURSE</th>
                                        <th>ACTION</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of university">
                                        <td>{{data.uniID}}</td>
                                        <td>{{data.uniName}}</td>
                                        <td>{{data.location}}</td>
                                        <td>{{data.description}}</td>
                                        <td><a routerLink="/course">View all Course</a></td>
                                        <td>
                                            <a routerLink="/report" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">View</a>
                                        </td>
                                    </tr>
                                   
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>