
<div id="wrapper">
    <app-header></app-header>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <app-navbar></app-navbar>
            <div class="container-fluid">
                <h1 class="h3 mb-2 text-gray-800">Total Student</h1>
                <p class="mb-4"></p>
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <!-- <a routerLink="/report" class="d-sm-inline-block btn btn-sm btn-primary shadow-sm  align-items-right">New Consultant</a> -->
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>SN</th>
                                        <th>STUDENT NAME</th>
                                        <th>CONSULTANT NAME</th>
                                        <th>ROLE</th>
                                        <th>PHONE</th>
                                        <th>ADRESS</th>
                                        <th>EMAIL</th>
                                        <th>LEVEL OF EDUCATION</th>
                                        <th>ACTION</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of student">
                                        <td>{{data.stuID}}</td>
                                        <td>{{data.f_name}} {{data.s_name2}} {{data.l_name}}</td>
                                        <td>{{data.consID}}</td>
                                        <td>{{data.role}}</td>
                                        <td>{{data.phoneNumber}}</td>
                                        <th>{{data.address}}</th>
                                        <td>{{data.email}}</td>
                                        <td>{{data.levelOfEducation}}</td>
                                        <td>
                                            <a routerLink="/report" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">Download</a>
                                        </td>
                                    </tr>
                                   
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>